ul li{
    display: inline-block;
    justify-content: space-around;
    width: 140px;
    

}

.Navbar{
    display: flex;
    justify-content: center;
    align-items: center;
   height: 100px;
   text-decoration: none;

}

.container{
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
}
.product img{
    width: 60%;
    height: 60%;
    margin-bottom: 10px;
}
.product :hover{
    box-shadow: -9px 47px 112px -25px rgba(0,0,0,0.44);
}
.all-products-title{
    width: 100%;
    text-align: center;
    font-size: 42px;
    margin-bottom: 50px;
}


.product{
    background-color: #fff;
    color: black;
    height: 350px;
    width: 300px;
    padding: 20px;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin: 20px;
    border: 1px solid rgba(0,0,0,0.1);
}

.btn{
    height: 50px; width: 100px;
    background-color: rgb(75, 75, 210);
    position: absolute;
    border-radius: 12px;
    right: 20px;
    border: none;
}

.Mainsec{
    display: flex;
    align-items: center;
    justify-content: center;
}
.CARTSEC{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cartsectwo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.product img{
    border-radius: 12px;
}
.add_cart{
    height: 25px;
    width: 100px;
    background-color: rgb(85, 184, 184);
    border-radius: 7px;
}
.CARTSEC h1{
    font-size: 40px;
}